* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ITC Officina Sans Std Book";
  cursor:default;
}
input[type=checkbox] ,a{
cursor: pointer;
}

body {
  background: #f1f3f6;
}

/*.dropdown {
    position: relative;
    display: inline-block;
}
.login a:hover{
  text-decoration: underline;
  background-color: white !important;
}
.choose > a{
  color: black !important;
  font-size: 18px;
}
.choose a:hover{
  background-color: #2ecab6;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*.main > div{
  align-items: center;
}
.center{
  color: white;
  margin-top: 5%;
  margin-left: 3%;
}
.left{
  float: left;
}
/*Middle Checkbox*/
/*.box{
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px 30px;
    width: 40%;
    height: 80%;
    box-sizing: border-box;    
}
.innerbox{
margin: 12px 12px;
padding: 3px;
font-size: 16px;
}
.generalcard{
  margin: 5px 0px;
  padding: 10px 10px;
  border: 1px solid grey;
  font-size: 18px;
  float:left;
  width: 100%;
}
/**/


/*--------------------------navbar------------------------------------------*/
.navbar-brand{
  font-size: 20px;
  margin-top: 5px!important;
  margin-bottom: -10px!important
}
.navbar-brand p{
  font-size: 14px;
  margin-top: -10px;
}
.nav-item a,.navbar-brand{
  color: #2ECAB6!important;
}
 .nav-link{
  font-weight: bold!important
}
.btn.btn-search{
  background:#2ECAB6!important; 
  border-radius: 0;
  color: white;
}
.login a:hover{
  text-decoration: underline;
}

/* new btn */
.prem-filter .pre .newbtn{
  background-color: red;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none; 
  font-size:9px;
  padding: 2px 5px; 
  position: absolute;
  top: 10% ; 
  right: 15% ;
  padding-bottom: 0;
}
/*-----------------------navbar end------------------------------------------->*/
/*------------------------all media queries-----------------------------*/
/* check box mv */
@media  (max-width: 465px) {
  .checkbox{
    font-size: 11px;
   
  }
}

/* Category option mv */
@media (min-width: 360px) and (max-width: 767px){
  select{ 
    font-size: 0.7em;
  }
}
/* Negotiation and price */
.price-nego{ 
  display: flex;
  justify-content: flex-end ;}

@media   (min-width: 360px) and (max-width: 767px){
  .negoo{
    margin-right: 5px;
    width: 20% !important;
  }
  .price-nego{
    display: flex;
    justify-content: flex-start !important;}
  }
@media (max-width: 576px){
  .prem-filter .pre .newbtn{
    right: 30% ;
    top: 10%  ;
  }
}
@media (max-width: 576px){
  .navbar-brand{
    padding-left: 0!important;
  }
  .dropdown{
    margin-left: -20px!important
  }
  .navbar-brand{
  font-size: 18px;
      }
   .navbar-brand p{
  font-size: 12px;  
}
.filters, .sortby{
height: 25px !important;
 }
  /*input[type="search"]{
    font-size: 10px;
  }
  .btn.btn-search{
      font-size: 10px;
      padding-top: 17px!important;
   padding-bottom: 18px!important;
  } */
}
@media (max-width: 386px)and (min-width: 381px)  {
   .dropdown{
    margin-left: -25px!important
  }
  .filters, .sortby{
                                        height: 25px !important;
                                       }
}
@media (max-width: 381px){
  .dropdown{
    margin-left: -35px!important
  }
  .filters, .sortby{
                                        height: 25px !important;
                                       }
}

/*---------------------------left part start---------------------------------------------*/
.sidebar ul,.rside ul 
{
  list-style: none;

}
.sidebar ul li{
  line-height: 47px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding-left: 10px;
}
.sidebar ul li a{
  position: relative;
  font-size: 16px;
  text-decoration: none;
  color: black;
  padding-left: 10px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
.sidebar ul li a
{
  background: white;
}
.sidebar ul ul
{
  position: static;
  display: none;
}

.sidebar ul .cat-show.show,.sidebar ul .bhk-show.show1,.sidebar ul .pg-show.show2,
.sidebar ul .floor-show.show3,.sidebar ul .fur-show.show4,.sidebar ul .pro-show.show5
{
  display: block;
}
.sidebar ul ul li
{
  line-height: 32px;
  border-bottom: none;

}
 
.sidebar ul ul li a
{
  font-size: 17px;
  color: #2ecab6;
  padding-left: 80px; 
}
.sidebar ul li.active ul li a
{
  color: #2ecab6;
  background: white;
  border-left-color: transparent;
}
.sidebar ul li a:hover
{
  background: #d5f6f2!important;
  color: #17c3ad !important;
  
}
.pro-show li:hover,
.fur-show li:hover,
.floor-show li:hover,
.pg-show li:hover,
.bhk-show li:hover,
.cat-show
 li:hover,
.checkboxc > label:hover
{
  background: #d5f6f2!important;
  color: #17c3ad !important;

}
.sidebar ul li a span{
  position: absolute;
  top:50%;
  right:20px;
  
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}

.sidebar ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
  
}
/*.sidebar a {
  line-height: 20px !important;
}*/
.sortc{
  font-size: 16px;
  /*margin-bottom: 5px;*/
  margin-left: 15px;

}

.checkboxc li:hover{
    background: #d5f6f2!important;
  color: #17c3ad !important;

}
.check{
  margin-right: 15px; 
  margin-top: 14px; 
  float: right;
}
.checkc{
 margin-right: 15px; 
  margin-top: 10px; 
  float: right;
}

.sidebar .text{
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin-top: 100px;
}
.sortby, 
.filters{
  border: none !important; 
color: white !important;

  
}


.sorting{
  background-color: #2ecab6 !important;
  height: 50px;
}
.sorting a:hover{
  text-decoration: underline;
}

.sidebar .text1{
  color: black;
  font-size: 20px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 1px;
}
.vl {
  border-left: 6px solid white;
  height: 50px;
}
/*.btn-info.focus, .btn-info:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}*/
.dropdown-toggle::after {
    content: none;
}
/* apply CSS to the select tag of  
         .dropdown-container div*/

.dropdown-container1 select,
.dropdown-container2 select,
.dropdown-container3 select,
.dropdown-container4 select,
.dropdown-container5 select,
.dropdown-container6 select,
.dropdown-container7 select,
.dropdown-container8 select
{
  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;
}

/* for IE10 */
.dropdown-container1 select::-ms-expand,
.dropdown-container2 select::-ms-expand,
.dropdown-container3 select::-ms-expand,
.dropdown-container4 select::-ms-expand,
.dropdown-container5 select::-ms-expand,
.dropdown-container6 select::-ms-expand,
.dropdown-container7 select::-ms-expand,
.dropdown-container8 select::-ms-expand
 {
  display: none;
}
/*---------------------------left part end---------------------------------------------*/

/*---------------------------left part end---------------------------------------------*/
/*---------------------------middle part start---------------------------------------------*/
/*---------------------------middle part start---------------------------------------------*/
ul.breadcrumb {
  padding: 10px 10px;
  list-style: none;
  background-color: #eee;
  /*float:left;*/
  /*margin: 5px;*/
}
ul.breadcrumb li {
  display: inline;
  font-size: 15px;
}
ul.breadcrumb li + li:before {
  padding: 5px;
  color: black;
  content: " > ";
}
ul.breadcrumb li a {
  color: #23b6ae;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.generalcard p {
  margin-bottom: 0;
  text-align: right;
  margin-top: -25px;
}
.generalcard p a {
  text-decoration: none;

}
.neg a:hover{
  text-decoration: underline;
}
.fa-map-marker-alt {
  color: #2ecab6;
  font-size: 20px;
  margin-right: 5px;
}

/* negotiation button */
.negoo:hover{
  font-weight: bolder;
  color:#4b8a82 !important;
  transition: all 150ms ease 0s;
  
 
}

/* tooltip */
.tooltip-inner {
  border-radius: 5px;
}
.tooltip .arrow:before {
  border-top-color: #333 !important;
   }
.tooltip .tooltip-inner {
  background-color: #333;
  font-size: 0.75rem;
   }
  /* tooltip end */

.fa-heart{
  color: red;
  float: right;
}

.fa-info-circle{
  float:right;
  color: #2ecab6 !important;
  margin: 5px;
  font-size: 20px;
}

.btn-info {
  background-color: #2ecab6 !important;
}
.images img{
  height: 200px;
}
.carousel-control-next {
  right: 5px;
}

.dropdown-container1,.dropdown-container3,.dropdown-container5,.dropdown-container7{
  float: left;
  margin-left: 10px;
}

.dropdown-container2,.dropdown-container4,.dropdown-container6,.dropdown-container8{
  float:left;
  margin-left: 10px;
}

.generalcard{
  font-size: 15px;
}

/*select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*padding: 2px 30px 2px 2px;*/
    /* border:solid;*/
    /*text-decoration: none;
    background:#f1f3f6;
     margin: 10px;
     padding: 2px;
}*/

/*---------------------------middle part end---------------------------------------------*/

/*---------------------------middle part end---------------------------------------------*/
/*---------------------------right part start---------------------------------------------*/
 .features li .ion-checkmark{
    color: black !important;
}
.fas , .fa-check{
  color: black !important;
}
.title {
/*  position: relative;*/
  font-weight: 800;
  padding: 5px 0px;
  margin:0;
  /*display: inline-block;*/
  background-color:#2ecab6;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  
}
.features li {
  border-top: 1px solid #d2d7e2;
  padding: 0.7em 5%;
  font-weight: bold;
  font-size: 0.85rem;
}
 /*.features li:nth-child(even) {
  /*background: rgba(0, 0, 0, 0.08);}*/
.features i {
  margin-right: 8px;
  opacity: 0.6;
}

.fa-check{
  margin-right: 5px;
  
}

/* negotiation and price */

.negoo{
  margin-bottom:1px;
  position: relative;
  color: red;
  cursor: pointer; 
  font-weight: bolder; 
  font-size: large;
  text-align: center; 
  width: 10%;
}

@media only screen and (max-width: 575px) {
.diss {
   visibility: hidden;
      
  }
}
/*---------------------------right part end---------------------------------------------*/
/*---------------------------footer start---------------------------------------------*/

footer{
  color: #fff;
}
footer a {
  text-decoration: none;
  color: white;
}
.teal.accent-3 {
    background-color: #1de9b6 !important;
}
.footer-links a:hover {
    font-weight: bold!important;
    text-decoration: underline;
    color: white;
}
.to-top i{
  position: fixed;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  right: 10px;
  bottom: 25px;
  color:#fff;
  font-size: 25px; 
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
}
.to-top i.active{
  bottom: 25px;
  pointer-events: auto;
  opacity: 1;
}
.mobview{
  display: none;
}
/*---------------------------footer end---------------------------------------------*/
/*---------------------------mob view part start---------------------------------------------*/
#myNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}
.closebtn{
   position: absolute;
  top: 50px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: black;
}
@media (max-width: 760px){
.mobview{
  display: block;
}
}
  /*---------------------------mob  view end---------------------------------------------*/